# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyo
*.pyd
.Python
venv/
env/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints*

# Данные
data/raw/*
!data/raw/.gitkeep

# Результаты пайплайна
data/processed/*
!data/processed/.gitkeep

# Логи
logs/*
!logs/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.AppleDouble
.LSOverride
Icon

# Conda / pytest
.pytest_cache/

# App (Streamlit) на будущее
app/__pycache__/
